.tippy-tooltip.edge-theme {
    background-color: #56C5BC;
    color: #101B2B;
    border: 1px solid #38807A;
}
tippy-tooltip.edge-theme[data-animatefill] {
    background-color: transparent;
}
  
.tippy-tooltip.edge-theme .tippy-backdrop {
    background-color:#56C5BC;
}

.tippy-tooltip.edge-theme[x-placement^='top'] .tippy-arrow {
    border-top-color:#56C5BC;
  }
.tippy-tooltip.edge-theme[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: #56C5BC;
}
.tippy-tooltip.edge-theme[x-placement^='left'] .tippy-arrow {
    border-left-color: #56C5BC;
}
.tippy-tooltip.edge-theme[x-placement^='right'] .tippy-arrow {
    border-right-color: #56C5BC;
}

.tippy-tooltip.edge-theme .tippy-roundarrow {
    fill: #56C5BC;
}