.tippy-tooltip.nodeData-theme {
    background-color: #213758;
    color: #FFFFFF;
    border: 1px solid #405B80;
    /* width: 200px; */

}
tippy-tooltip.nodeData-theme[data-animatefill] {
    background-color: transparent;
}
  
.tippy-tooltip.nodeData-theme .tippy-backdrop {
    background-color: #213758;
}

.tippy-tooltip.nodeData-theme[x-placement^='top'] .tippy-arrow {
    border-top-color: #213758;
   
  }
.tippy-tooltip.nodeData-theme[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: #213758;
  
}
.tippy-tooltip.nodeData-theme[x-placement^='left'] .tippy-arrow {
    border-left-color: #213758;

}
.tippy-tooltip.nonodeDatade-theme[x-placement^='right'] .tippy-arrow {
    border-right-color: #213758;
    
  
}

.tippy-tooltip.nodeData-theme .tippy-roundarrow {
    fill: #213758;
    /* border: 1px solid #405B80; */
}