.tippy-tooltip.node-theme {
    background-color: #213758;
    color: #FFFFFF;
    border: 1px solid #405B80;
}

tippy-tooltip.node-theme[data-animatefill] {
    background-color: transparent;
}

.tippy-tooltip.node-theme .tippy-backdrop {
    background-color: #213758;
}

.tippy-tooltip.node-theme[x-placement^='top'] .tippy-arrow {
    border-top-color: #213758;
}

.tippy-tooltip.node-theme[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: #213758;
}

.tippy-tooltip.node-theme[x-placement^='left'] .tippy-arrow {
    border-left-color: #213758;
    box-shadow: #FFFFFF;
    /* background: red; */
}

.tippy-tooltip.node-theme[x-placement^='right'] .tippy-arrow {
    border-right-color: #213758;
}

.tippy-tooltip.node-theme .tippy-roundarrow {
    fill: #213758;
    /* border: 1px solid #405B80; */
}