body {
  width: 100%;
  height: 100%;
  background: #292b2d;
}

#topology{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    outline-style: solid;
    outline-color: orange;
    outline-width: 0px;
    margin-top: 0px;
    margin-left: 0%;
}

.config {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 15%;
  background: #4e4e4e;
  padding-left: 1%;
  /*box-sizing: border-box;
  padding-left:2.5% ;
  padding-right: 2.5%;*/
  color: #fff;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms; 
  transition-timing-function: linear;
  overflow: auto;
  z-index: 1;
}

.config-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  color: #C0C0C0;
  z-index: 9999999;
}

.config-closed .config {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: linear;
  pointer-events: none;
}

.config-closed .config-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  color: #C0C0C0;
  z-index: 9999999;
}

#refreshbtn {
  /*background: #C0C0C0;*/
  margin-top: 30%;
  margin-bottom: 10%;
}

#fontSlider {
 width:90%;
}

.form-control{
  /*position: absolute;*/
  width: 50%;
}

