body {
  width: 100%;
  height: 100%;
  border: 0px;
}
.container {
  color: black;
  display: inline-grid;
  text-align: center;
  position: relative;
}
.pageheader {
  background-color: #285797;
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Roboto, Arial, sans-serif;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  width: 100%;
  height: 60px;
}
.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node:hover {
  fill: #000;
}

.link {
  stroke-opacity: 1;
  fill: none;
  pointer-events: all;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.successor {
  stroke-opacity: 1;
  stroke: yellow;
  stroke-width: 4px;
}

.chord {
  stroke-opacity: 1;
  stroke: black;
  stroke-width: 4px;
}

.on_demand {
  stroke-opacity: 1;
  stroke: blue;
  stroke-width: 4px;
}
.valueclass {
    padding-left: 5px;
    font: 300 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
.keyclass {
    font-weight: bold;
    font: 300 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.heading {
    background-color: grey;
    font-weight: bold;
    font: 300 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width : 43%;
}
.textbox {
    margin-top: 30px;
    margin-right: 0px;
    border-right: 0px;
    position: fixed;
    width : 60%;
}
#topology{
    overflow-x: scroll;
    overflow-y: hidden;
    outline-style: solid;
    outline-color: grey;
    outline-width: 1px;
}
.topology{
    overflow-x: scroll;
    overflow-y: scroll;
    outline-style: solid;
    outline-color: grey;
    outline-width: 1px;
}
.unmanagednodetopology {
    overflow-x: scroll;
    overflow-y: hidden;
    outline-style: solid;
    outline-color: white;
    outline-width: 1px;
}
#network {
  padding-right :15px; 
  padding-left: 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 70%; /* Half width */
    padding: 20px;
    border: 10px solid #888;
    font-size: 15px;
    line-height: 100%;
    overflow-x:auto;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#nodedisplaytext {
    display:none;
    font-size: 20px;
    font-family: Arial;
    word-wrap: break-word;
    margin:auto;
    width: 100%;
    color: black;
}
.logo {
  height : 59px;
  width: 323 px;
}
.footertext {
  font-size: 10px;
  color: grey;
}
#macidmapping {
  padding: 5px;
  width: 100%;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

h4 {
    color: white;
    padding-left: 20px
}




