
#cy {
    position: absolute;
    left: 0;
    top: 73;
    bottom: 0;
    right: 0;
    z-index: 1;
    
}

/* makes sticky faster; disable if you want animated tippies */
.tippy-popper {
    transition: none !important;
}
