/* Overlay Tag Position */
div.overlayTag {
    position: fixed;
    top: 72px;
    left: 82px;
    height: 48px;

}
/* Overlay Tag Arrow */
.overlayTagBox{
    position: relative;
    background: #213758;
    border-radius: 6px 0px 0px 6px;
    z-index: 200;
}
/* Overlay Tag Arrow */
.overlayTagBox:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-left-color: #213758;
    border-right: 0;
    margin-top: -24px;
    margin-right: -24px;
    z-index: 200;

}
/* Border Overlay Tag Box*/
.overlayTagBoxBorder {
    position: relative;
    background: #405B80;
    border-radius: 6px 0px 0px 6px;
    z-index: 101;
    padding: 1px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

/* Border Overlay Tag Arrow */
.overlayTagBoxBorder:after {
    content: "";
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: -17;
    top: 7.2;
    width: 0;
    height: 0;
    border-width: 17.4px;
    border-style: solid;
    border-color: transparent #405B80 #405B80 transparent;
    z-index: 100;
}
/* Nav overlay tag bar */
.nav {

    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav div {
    display: inline-block;

}

.next {
    background-color: #56C5BC;
    border: 1px solid #38807A;
    border-radius: 0px 6px 6px 0px;
    left: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.overlayBox {
    background-color: #56C5BC;
    border: 1px solid #38807A;
    border-radius: 6px;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
/* Position home icon */
.home {
    position: fixed;
    top: 65px;
    left: 16px;

    padding: 0px;
}
/* Position refresh icon */
.refresh {
    position: fixed;
    top: 121px;
    left: 16px;

    padding: 0px;
}
/* Position info icon */
.info #poster{
    position: fixed;
    top: 140px;
    left: 68px;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
    
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* background: yellow; */
    vertical-align: middle;
    line-height: 105px;
    height: 105;

    width: 0px;
    padding: 0px;
}
.info #poster.in {
    width: 420px;
}
.info #infoBtn
{
    position: fixed;
    top: 177px;
    left: 16px;
    padding: 0px;
}

.image {
    display: block;
    /* width: 63px;
    height: 63px; */
    margin: 0px;
    padding: 0px;
}
/* Home hover button event */
.home:hover .overlay {
    opacity: 0.3;
   
}
/* Info button hover event */
.info #infoBtn:hover .overlay{
    opacity: 0.3;
}
/* .info #poster:hover .overlayInfo{
    opacity: 0.3;
} */

/* Refresh button hover event */
.refresh:hover .overlay {
    opacity: 0.3;
}
/* .overlayInfo{
    position: absolute;
    border-radius: 8px;
    top: 6;
    bottom: 0;
    left: 18;

    height: 85px;
    width: 390px;
    opacity: 0;
    transition: .3s ease;
    background-color: #405B80;

    cursor: pointer;
} */

.overlay {
    position: absolute;
    border-radius: 8px;
    top: 6;
    bottom: 0;
    left: 8.8;

    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .3s ease;
    background-color: #405B80;
    border: 2px solid #56C5BC;
    cursor: pointer;
}

/* Css zoom in  */
#plus{
    position: fixed;
    bottom: 65px;
    left: 16px;
    padding: 0px;
}
#plus:hover #plusBtn{
    opacity: 0.3;
}

#plusBtn {
    position: absolute;
    border-radius: 8px 8px 0px 0px;
    top: 6;
    bottom: 0;
    left: 8.8;
    
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .3s ease;
    background-color: #405B80;
    border: 2px solid #56C5BC; 
    


    cursor: pointer;
}
/* Css zoom out btn */
#minus{
    position: fixed;
    bottom: 16px;
    left: 16px;
    padding: 0px;
}
#minus:hover #minusBtn{
    opacity: 0.3;
}

#minusBtn {
    position: absolute;
    border-radius: 0px 0px 8px 8px;
    top: 6;
    bottom: 0;
    left: 8.8;  
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .3s ease;
    background-color: #405B80;
    border: 2px solid #56C5BC; 
    cursor: pointer;
}

/* overlays cloud button */
.cloudBtn{
    width: 200px;
    height: 200px;
    position: fixed; /* or absolute*/
    top: 50%;
    left: 50%;
}