    /* font size 22 17 16 14 11 */
    
    h1 {
        font-size: 22px;
    }
    
    h2 {
        font-size: 17px
    }
    
    h3 {
        font-size: 16px
    }
    
    h4 {
        font-size: 14px
    }
    
    h5 {
        font-size: 11px
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
    }
    
    body {
        width: 100vw;
        /* height: 100vh; */
        background-color: #101B2B;
        /* overflow: hidden; */
    }
    
    .navbar {
        /* position: absolute; */
        background-color: #213758;
        border-bottom: 2px solid #405B80;
        z-index: 1;
    }
    
    .main-content {
        width: 100%;
        height: 100%;
    }
    /* search bar */
    
    #search-input {
        width: 20%;
        border: none;
        background-color: #192841;
    }
    /* switch toggle */
    
    .mode-switch {
        width: 15%;
        border: none;
        border: 1px solid #405B80;
        background-color: #192841;
        border-radius: 20px;
        float: right;
    }
    
    .mode-switch .switch-btn {
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
    }
    
    .mode-switch .switch-btn:hover {
        border: none;
    }
    
    .mode-switch .switch-btn.active {
        color: #192841;
        border: 1px solid #0062cc;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #56C5BC;
        border: none;
    }
    /* overlay card */
    
    .overlay-card {
        float: left;
        width: 10%;
        border: none;
        background: transparent;
    }
    
    .overlay-card:hover {
        cursor: pointer;
    }
    
    .overlay-card-badge {
        width: max-content;
        margin: auto;
        background-color: #213758;
        border: 1px solid #405B80;
        color: white;
    }
    /* spinner */
    
    .process-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
    }
    
    #nodes-content {
        position: absolute;
        width: 100%;
        height: 92.5%;
        /* z-index: 2; */
    }
    
    #graph-content {
        position: absolute;
        width: 100%;
        height: 92.5%;
        /* z-index: 1; */
    }
    
    #icon-hud {
        top: 12%;
        position: fixed;
        width: max-content;
        display: inline-block;
        /* padding: 2%; */
        left: 2%;
        z-index: 1;
    }
    
    #zoom-slider-bar {
        -webkit-appearance: slider-vertical;
        width: 48px;
        height: 200px;
        margin-bottom: 5px;
    }
    
    #home-btn {
        background: no-repeat url('../icons/home-btn.svg');
    }
    
    #refresh-btn {
        background: no-repeat url('../icons/refresh-btn.svg');
    }
    
    #config-btn {
        background: no-repeat url('../icons/config-btn.svg');
    }
    
    .config-card {
        position: absolute;
    }
    
    #info-btn {
        background: no-repeat url('../icons/info-btn.svg');
    }
    
    #zoom-more-btn {
        background: no-repeat url('../icons/zoom-more-btn.svg')
    }
    
    #zoom-less-btn {
        background: no-repeat url('../icons/zoom-less-btn.svg')
    }
    
    #home-btn,
    #refresh-btn,
    #config-btn,
    #info-btn {
        margin-bottom: 5px;
        background-color: #213758;
        background-size: 30px 30px;
        background-position: center;
        width: 48px;
        height: 48px;
        border: 2px solid #405B80;
    }
    
    #zoom-more-btn,
    #zoom-less-btn {
        margin-bottom: 5px;
        background-color: #213758;
        border: 2px solid #405B80;
        background-size: 30px 30px;
        background-position: center;
        width: 48px;
        height: 48px;
    }
    
    #config-card,
    #info-card {
        width: max-content;
        left: 42px;
        position: absolute;
    }
    
    .zoom-option {
        margin: 3px;
    }
    
    #not-report-node,
    #not-have-tunnel-node,
    #connected-overlay-node {
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
    
    #successor-tunnel,
    #long-distance-tunnel {
        width: 100%;
        height: 5px;
        border-radius: 20px;
    }
    
    #not-report-node {
        background-color: #56C5BC;
    }
    
    #not-have-tunnel-node {
        background-color: #F07F8B;
    }
    
    #connected-overlay-node {
        background-color: #9FC556;
    }
    
    #successor-tunnel {
        background-color: #56C5BC;
    }
    
    #long-distance-tunnel {
        background-color: #8C7FF0;
    }
    
    .collapsing {
        -webkit-transition: none;
        transition: none;
    }
    
    #details {
        position: absolute;
        width: 100%;
        /* height: 92.5%; */
        background-color: #213758;
        color: white;
        padding: 1%;
        z-index: 2;
        right: 0;
    }
    
    #close-detail-btn {
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 50%;
        background-color: white;
    }