/* Default Menu Bar */
div.fixed {
    position: fixed;
    top: 56px;
    right: 0;
    width: 260px;
    height: 100%;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 21px;
    border-left: 1px solid #405B80;
    background-color: #213758;
    overflow: scroll;
    z-index: 99999999;
}
/* Card Node Connected */
.card-header {
    background-color: #5D7698;
    border: 3px solid #405B80;
    color: white !important;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #405B80;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
/* Box spec list */
.card {
    background-color: #213758;
    margin-bottom: 10px
}
.card-body {
    background-color: #213758;
    border: 3px solid #405B80;
    color: white !important;
}
/* Topic node */
p.topic {
    color: #909BAC;
    line-height: 15px;
    font-size: 14px;
}
/* Text Default in Detail Bar */
p.data {
    color: white;
    line-height: 27px;
    margin-top: -18px;
    font-size: 16px;
}
/* Padding Inside Card Connected Node */
.inner {
    padding-left: 5px;
    padding-right: 15px;
}
/* Padding Box Inside Card Connected Node */
.boxInner {
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: #2C456A;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 6px;
}

.box {
    position: relative;
    padding: 0px;
    width: 230px;
    /* width: 100%; */
    padding-left: 16px;
    padding-right: 16px;
    /*height: 100%; */
}

div.card-body {
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #405B80;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    padding-left: 5px;
    padding-right: 5px;
}
/* Scollbar Default in IPOP */
/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #213758;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #5D7698;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #405980;
}
/* End Scollbar Default in IPOP */

/* Sender border box */
.senderBorder {
    position: relative;
    background:  #5D7698;
    border-radius: 6px 6px 0px 0px;
    padding: 1px;
    
    
}
/* Arrow sender border box */
.senderBorder:after {
 
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top-color: #5D7698;
    border-bottom: 0;
    margin-left: -9.2px;
    margin-bottom: -9px;
    z-index: 100;
  
}
/* Arrow sender node clicked*/
.senderArrowAfter {
    position: relative;
    background: #213758;
    border-radius: 6px;
    padding-bottom:0px;
}
/* Border source node clicked*/
.senderArrowAfter:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #213758;
    border-bottom: 0;
    margin-left: -8.2px;
    margin-bottom: -8px;
    z-index: 200;
}

/* Sender node box */
.senderBox {
    position: relative;
    background-color: #56C5BC;
    border-radius: 6px 6px 0 0;
    box-shadow: none;
}
/* Arrow Edge source node  */
.senderBox:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #56C5BC;
    border-bottom: 0;
    margin-left: -8.2px;
    margin-bottom: -8px;
    z-index: 9999999;
}
/* Sender box clicked */
.senderBoxAfter{
    display: none; 
    border-radius: 4px 4px 0 0;
    background-color: #56C5BC;
    box-shadow: none;
}
/* Receiver Box */
.receiverBox{
    border-radius: 0px 0px 6px 6px;
    background-color: #9FC556;
    box-shadow: none;
    border-color: #5D7698;
}
/* Receiver Box clicked */
.receiverBoxAfter{
    display: none; border-radius: 0px;
    background-color: #9FC556;
    box-shadow: none;
    border-color: #5D7698;
}

