body {
  width: 100%;
  height: 100%;
  background: #292b2d;
}

#topology{
  position: absolute;
  opacity: 1;
  height: 100%;
  width: 100%;
}

.config {
  right: 0px;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 235px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3a3a3a;
  border-left: solid 1px #3D4153;
  z-index: 1;
  box-sizing: border-box;
  color: #f5f5f5;
  opacity: 1; 
  transition-property: opacity;
  transition-duration: 500ms; 
  transition-timing-function: linear;
  overflow-x: hidden;
  overflow-y: auto;
}

.config-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  color: #f5f5f5;
  z-index: 9999999;
}

.config-closed .config {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: linear;
  pointer-events: none;
}

.OverlayListPanel {
  margin-top:15px;
  padding: 5px;
  width: 200px; 
  background: #646464;
  border: 1px solid #808080;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
}

#overlay-form-control {
  width: 180px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #808080;
  color: #292b2d;
}

.InfoPanel {
  display: flex;
  padding-bottom: 3px;
  padding-left: 5px;
}

.leftColumn {
  width: 50%;
}

.rightColumn {
  width: 50%;
}

.qtip-bootstrap .qtip-content {
  background-color: #646464;
  color: #f5f5f5;
}

.NodeInfoPanel {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 200px;
  background-color: #505050;
  border: 1px solid #808080;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  color: #f5f5f5;
}

.NodeInfoPanelBody{
  padding: 5px;
}

.NodeInfoPanelHeading{
  padding-top: 5px;
  padding-left: 10px;
  height: 30px;
  background: #787878;
  border-radius: 3px;
  border: 1px solid #808080;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
  font-size: 16px;
}

#LabelSizeSlider {
 width:90%;
}

#ControlsCollapse {
  color: white;
}

#Controlwell {
  background-color: #3170a5;
}

.form-control{
  width: 50%;
}

#homebtn {
  position: absolute;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
}

#refreshbtn {
  position: absolute;
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
}

#LayoutControls {
  position: absolute;
  display: inline-block;
  margin-left: 94px;
  margin-top: 5px; 
}

#plusbtn{
  position: absolute;
  display: inline-block;
  bottom: 175px;
  margin-left: 15px;
}

#minusbtn{
  position: absolute;
  display: inline-block;
  bottom: 10px;
  margin-left: 15px;
}

#zoomslide{
  position:absolute;
  display: inline-block;
  bottom: 96px;
  margin-left: -33px;
  transform: rotate(-90deg);
  width: 135px;
}

#linkMetricsDialog {
  position: absolute;
  margin-top: 10px;
  right: 245px;
  width: 330px;
  background-color: #505050;
  border: 1px solid #707070;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
  border-radius: 3px;
  color: #f5f5f5;
  box-sizing: border-box;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
}

#linkMetricsDialogBody{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;  
  overflow-y: scroll;
  max-height: 300px;
}

#linkMetricsDialogHeading{
  padding-top: 5px;
  padding-left: 10px;
  background: #717171;
  border-radius: 3px;
  border: 1px solid #707070;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
  height: 30px;
  font-size: 16px;
}

.eachLinkInfo{
  border: 1px solid #707070;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
  margin-bottom: 3px;
}

.linkID{
  padding-left: 5px;
  background-color: #717171;
  border: 1px solid #707070;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
  height: 20px;
}

.leftColumnLinkMetric {
  width: 60%;  
}

.rightColumnLinkMetric {
  width: 40%;
}