/* Overlay */

.Overlay {
    width: fit-content;
    color: white;
}

.overlay_ic {
    width: 75%;
    height: 75%;
}

.OverlayID {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #213758;
    border-radius: 6px;
    border: #405B80 solid 2px;
    color: white;
}

.overlays_pane{
    width: 10.5%;
    float: right;
}

/* Toolbar */

.leftToolsbar {
    position: fixed;
    text-align: center;
    width: 5%;
    z-index: 1;
}

.toolBtn {
    width: fit-content;
}

#zoom-slider-bar {
    -webkit-appearance: slider-vertical;
    height: 200px;
}

.bottomToolsbar {
    position: fixed;
    bottom: 5%;
    width: 100%;
    padding-left: 40%;
    padding-right: 40%;
}

#timelapse-slider-bar {
    width: 100%;
    z-index: 1;
}

#rightToolsbar{
    position: fixed;
    right: 0;
    width: 10%;
    z-index: 1;
}

.nodeIDLabel,.stateLabel,.cityLabel{
    color: grey;
    font-size: 14px;
}

#configModal{
    position: absolute;
    top: 22%;
    left: 5%;
}

#infoModal{
    position: absolute;
    top: 15.5%;
    left: 5%;
}