/* customize global */
* {
    font-family: Helvetica;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #101B2B;
    color: 'white';
}

header {
    width: 100vw;
    background-color: #213758;
    color: white;
}

/* customize title name */
#ipopTitle {
    margin: auto;
}

#loading{
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
}

/* customize overlay button */
.overlay {
    background: url("../Images/Icons/overlay_ic.svg")no-repeat;
    background-size: contain;
    width: 100px;
    height: 75px;
    border: none;
    outline: none;
}

.overlay_ic {
    width: 75%;
}

#rightPanel{
    padding: 0.5%;
    color: white;
    position: absolute;
    width: 18.5vw;
    right: 0;
    background-color: #213758;
}

#menuBtn{
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    background: url('../Images/Icons/menu_ic.svg') no-repeat;
    background-size: contain;
    right: 0;
}