/* customize global */

#root {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    color: white;
    background-color: #213758;
}

/* customize title name */
#ipopTitle {
    margin: auto;
}

#viewBar {
    margin: auto;
    text-align: center;
}

#viewSelector {
    width: 15%;
}

#midArea {
    margin: 0;
    width: 100%;
    padding: 0;
}

#searchBar {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}


/* customize overlay button */

.overlay {
    background: transparent;
    border: none;
    outline: none;
}

.overlay_ic {
    width: 75%;
}

#rightPanel::-webkit-scrollbar {
    display: none;
}

.transmissionCard {
    border-radius: 3px;
    border: solid #486186;
    background-color: #405B80;
    margin-bottom: 1%;
}

#overlayRightPanelBtn {
    margin: 0.5%;
    right: 0;
    width: 30px;
    border: none;
    height: 30px;
    outline: none;
    position: fixed;
    background: url(../Images/Icons/menu_ic.svg) no-repeat;
    background-size: contain;
    z-index: 2;
}

.overlayBtn {
    border-radius: 3px;
    border: solid #486186;
    background-color: #405B80;
}

#leftTools {
    width: fit-content;
    position: fixed;
    top: 11.5vh;
    z-index: 2;
}

.resultLabel {
    font-weight: 700;
}

#homeBtn {
    background: url(../Images/Icons/home_ic.svg);
    background-size: contain;
    outline: none;
}

#refreshBtn {
    background: url(../Images/Icons/refresh_ic.svg);
    background-size: contain;
    outline: none;
}

#infoBtn {
    background: url(../Images/Icons/info_ic.svg);
    background-size: contain;
    outline: none;
}

#configBtn {
    background: url(../Images/Icons/config_ic.svg);
    background-size: contain;
    outline: none;
}

#plusBtn {
    background: url(../Images/Icons/plus_ic.svg);
    background-size: contain;
    outline: none;
}

#minusBtn {
    margin-top: 34vh;
    background: url(../Images/Icons/minus_ic.svg);
    background-size: contain;
    outline: none;
}

.DetailsLabel {
    color: gray;
    font-size: 14px;
}

#switchBtn {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: url(../Images/Icons/swap_ic.svg)no-repeat;
    background-size: cover;
}

.node_img {
    transform: translateY(-2.5px);
    width: 100%;
}

.tunnel_img {
    transform: translateY(1px);
    width: 90%;
}

.popover {
    width: fit-content;
    max-width: unset;
}

#maxZoomSelector,
#minZoomSelector {
    margin: 2%;
}

#maxZoomLabel,
#minZoomLabel {
    margin: auto;
}

@media only screen and (max-width: 1920px) and (max-height: 1080px) {
    * {
        font-family: tahoma;
        font-size: 16px;
    }
    /* customize Herder Tag */
    header {
        height: 7vh;
    }
    
    /* customize view selector */
    #container {
        width: 100vw;
        height: 94vh;
    }
    /* customize main content */
    #mainContent {
        position: fixed;
        width: 100vw;
        color: white;
        height: 94vh;
        background-color: #101B2B;
    }
    /* customize right panel */
    #rightPanel {
        color: white;
        position: absolute;
        width: 23vw;
        height: 100%;
        overflow-y: auto;
        right: 0;
        padding: 1%;
        margin-top: 0.05%;
        background-color: #213758;
        z-index: 1;
        -ms-overflow-style: none;
        word-wrap: break-word;
    }
    .leftToolsBtn {
        width: 55px;
        border: none;
        height: 55px;
        outline: none;
    }
    #zoomSlider {
        position: absolute;
        margin-left: -13.5vh;
        margin-top: 14.9vh;
        transform: rotate(-90deg);
        width: 35vh;
    }
    #minusBtn {
        margin-top: 34vh;
        background: url(../Images/Icons/minus_ic.svg);
        background-size: contain;
        outline: none;
    }
    #configContent {
        width: 20vw;
    }
    #infoContent {
        padding: 2%;
        width: 20vw;
    }
    .rbt-input-main.form-control.rbt-input {
        width: 92%;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {
    * {
        font-family: tahoma;
        font-size: 20px;
    }
    header {
        height: 5vh;
    }
    /* customize title name */
    #ipopTitle {}
    #container {
        width: 100vw;
        height: 96vh;
    }
    /* customize main content */
    #mainContent {
        position: fixed;
        width: 100vw;
        color: white;
        height: 96vh;
        background-color: #101B2B;
    }
    /* customize right panel */
    #rightPanel {
        color: white;
        position: absolute;
        width: 17vw;
        height: 100%;
        overflow-y: auto;
        right: 0;
        padding: 1%;
        margin-top: 0.05%;
        background-color: #213758;
        z-index: 1;
        -ms-overflow-style: none;
        word-wrap: break-word;
    }
    .leftToolsBtn {
        width: 75px;
        border: none;
        height: 75px;
        outline: none;
    }
    #zoomSlider {
        position: absolute;
        margin-left: -14.5vh;
        margin-top: 15.7vh;
        transform: rotate(-90deg);
        width: 35vh;
    }
    #configContent {
        width: 14vw;
    }
    #infoContent {
        padding: 2%;
        width: 14vw;
        height: 19vh;
    }
    .rbt-input-main.form-control.rbt-input {
        margin-top: auto;
        width: 64%;
        margin-left: 35%;
    }
}