<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/d3_ipop.css') }}">
  <title>IPOP Visualizer</title>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jQuery.js') }}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
      <div class="row col-md-12 pageheader">
          <div>IPOP Visualizer</div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-3" id="network" style="padding-right:0px;color:white;margin-right: 0px;">
            <div class="row" style="background-color: #003040;">
                <h4><span class="plus" onclick="show(event,'linksettings');">+  </span>Link Settings</h4>
                <div id="linksettings" style="display:none;">
                    <div class="row" style="margin-left: 20px;">
                        Use below drop down to select Link Type
                    </div>
                    <div class="dropdown row" style="text-align:center;">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Link Type
                         <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" onclick="enableLink(event)">
                         <li style="padding-right:0px;padding-left: 65px;"><a href="#">successor</a></li>
                         <li style="padding-right:0px;padding-left: 65px;"><a href="#">chord</a></li>
                         <li style="padding-right:0px;padding-left: 65px;"><a href="#">ondemand</a></li>
                         <li style="padding-right:0px;padding-left: 65px;"><a href="#">All</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #003040;">
                <h4><span class="plus" onclick="show(event,'subgraph');">+ </span>Graph</h4>
                <div id="subgraph" style="display:none;">
                    <div class="row" style="margin-left: 20px;"> Click on the Nodes(not more than 10) </div>
                    <div class="row" style="text-align:center; width:90%; margin-left:20px">
                        <input type="text" id="nodedisplaytext" readonly>
                    </div>
                    <div class="row" style="padding-left:125px;">
                        <input type="button" id="getgraphstate" onclick="getsubgraph(event)" value="Get SubGraph" class="btn btn-default" style="background-color:grey;">
                    </div>
                    <div class="row" style="padding-left:135px;">
                        <input type="button" id="resetgraphstate" onclick="resetgraph(event)" value="Submit" class="btn btn-default" style="display:none;background-color: grey;">
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #003040;">
                <h4><span class="plus" onclick="show(event,'stopnode');">+ </span>Report</h4>
                <div id="stopnode" style="display:none;">
                    <div class="row">
                      <div id="dropdownlist" style="margin-left: 30px;">Click the dropdown menu below for Stopped Nodes</div>
                    </div>
                    <div class="dropdown row" style="text-align:center;">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Stopped Nodes
                         <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="stoppednodes"></ul>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #003040;">
                <h4><span class="plus" onclick="show(event,'history');">+ </span>Topology History</h4>
                <div id="history" style="display:none;text-align:center;">
                    <div class="row" style="color:black;">
                        <input id="hist-time" name="hist-time " type="datetime-local">
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <input type="button" onclick="getHistory(event,'fixedinterval')" value="Topology Snapshot" class="btn btn-default">
                    </div>
                </div>
            </div>
            <div style="padding-left:10 px;">
                <div id="NodeDetails"></div>
            </div>
          </div>
        <div class="col-md-9">
            <div class="loader" id="loading"></div>
            <div id="topology"></div>
        </div>
        <div id="ModalDetails"></div>
      </div>
      <div class="row text-pos col-md-12" style="margin-top: 15px; border-top: 5px solid #f37021;">
            <div class="col-md-3">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 footertext">
                Powered By
              </div>
            </div>
            <div class="col-md-5">
                <img src="{{ url_for('static',filename='img/ACIS.JPG') }}" class="logo">
            </div>
            <div class="col-md-4" style="margin-top: 15px;">
                <img src="{{ url_for('static',filename='img/UFlogo.png') }}" class="logo">
            </div>
      </div>
  </div>
</body>
<script type="text/javascript" src="{{ url_for('static',filename='js/ipop_mainpage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ipop_common.js') }}"></script>
</html>
